<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tinyify</title>
  <link rel="stylesheet" type="text/css" href="main.css" media="screen" />
</head>
<body>
  <h1>Tinyify</h1>

  <form class="tinyify-form">
    <label>
      Paste your obnoxiously long URL in here:
      <input type="text" class="long-url"/></label>
      <button type="submit" class="submit-button" disabled="true">Tinyify!</button>
  </form>
  <p class='tiny-display'>Your tinyified URL is: <span class="tiny-url"></span></p>
  <h3>Here are some of our more popular tinyified URLs:</h3>
  <section class='sort-controls'>
    <button class='sort-by-clicks-button'>Sort By Popularity ↑↓</button>
    <button class='sort-by-time-button'>Sort By New/Old ↑↓</button>
  </section>
  <p>Search:<input type='text' class='search-input' /></p>
  <section class='url-display'>
    <table class='url-list'></table>
  </section>
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src='script.js'></script>
</body>
</html>
